.singleBlogPost{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 90px;
}

.singleBlogPost h2{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

.blogImage{
    width: 100%;
    /* max-width: 800px; */
    margin: 40px auto;
    height: 300px;
}



.blog-img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.blogText{
    margin: 50px 0 0;
    letter-spacing: 1.5px;
    font-size: 18px;
    word-break: break-all;
}

.blogText span{
    background-color: initial !important;
}

.blogText strong{
    background-color: initial !important;
}

.blogText p{
    margin: 0;
}

.actionButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.actionButtons button{
    width: 30%;
    max-width: 250px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 0;
}

.image__author{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
    position: relative;
}

.likes{
    position: absolute;
    right: 20px;
}
.image__author .fake__img{

}

.image__author p{
    margin: 0;
}
.username__date{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media screen and (min-width:700px){
    .blogImage{
        height: 500px;
    }
}