.news-body{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    margin: 50px 0;
}

.news-card{
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
.news-card img{
    width: 100%;
    border-radius: 5px;
    max-height: 200px;
    object-fit: cover;
}

.news-card a{
    display: block;
    max-width: 400px;
    color: rgb(79, 75, 172);
    text-decoration: none;
}

.news-card a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: purple;
}

.news-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.news-published{
    font-size: 10px;
    color: gray;
}

.news-title{
    font-size: 20px;
}